<%= form_for @plan, :html => { :multipart => true } do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="row-one" class="col-md-3">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sqfoot %><br />
    <%= f.number_field :sqfoot %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.select(:bedrooms, [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5],['6+', 6]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br />
    <%= f.select(:bathrooms, [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5],['6+', 6]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :depth %><br />
    <%= f.text_field :depth %>
  </div>
      <div class="field">
    <%= f.label :media_string, "Plan has a Media Room" %>
    <%= f.select(:media_string, [['Yes', 'Yes']],{ :prompt => "Not Sure"}) %>
    </div>
      <div class="field">
    <%= f.label :court, "Plan has a Courtyard" %>
    <%= f.select(:court, [['Yes', 'Yes']],{ :prompt => "Not Sure"}) %><br /><br /><br />
    </div>
</div>
<div id="row-two" class="col-md-3">
  <div class="field">
    <%= f.label :half_bath %><br />
    <%= f.select(:half_bath, [['1', 1],['2', 2],['3+', 3]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :living %><br />
    <%= f.select(:living, [['1', 1], ['2', 2],['3', 3],['4+', 4]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :dining %><br />
    <%= f.select(:dining, [['1', 1], ['2', 2],['3', 3],['4+', 4]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
  <%= f.label :garage, "Number of Garages" %><br />
  <%= f.select(:garage, [['0', 1],['1', 2], ['2', 3],['3', 4],['4+', 5]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
    </div>
      <div class="field">
    <%= f.label :study, "Plan has a Study" %>
    <%= f.select(:study, [['Yes', 'Yes']],{ :prompt => "Not Sure"}) %>
    </div>
      <div class="field">
    <%= f.label :garage_loc, "Garage Location" %>
    <%= f.select(:garage_loc, [['Side', 'Side'],['front', 'front'],['detached', 'detached'],['Center', 'Center']],{ :prompt => "Not Sure"}) %>
    </div>
</div>
  <div id="row-three" class="col-md-3">
  <div class="field">
    <%= f.label :levels, "Levels" %><br />
    <%= f.select(:levels, [['Single-Story', 1], ['Multi-Story', 2],['Upside-Down', 'Upside-Down'],['Walk Out Basement', 'Walk Out Basement']],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :suite, "Owner's Suite Location" %><br />
    <%= f.select(:suite, [['Primary Level', 2],['Secondary Level', 3]],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :view, "View" %><br />
    <%= f.select(:view, [['Front View', 'Front View'], ['Rear View', 'Rear View'],['Right View', 'Right View'],['Left View', 'Left View']],{ :prompt => "Not Sure"}) %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.select(:style, [['Hill country', 'Hill country'],[' Hill country modern', 'Hill country modern'],['Modern', 'Modern'],['Craftsman', 'Craftsman'],['Texas Tuscan', 'Texas Tuscan'],['Mediterranean', 'Mediterranean'],['Spanish', 'Spanish'],['Contemporary', 'Contemporary'],['French', 'French'],['French Country', 'French Country'],['Beach', 'Beach'],['Cottage', 'Cottage'],['Barn', 'Barn'],['traditional', 'traditional']],{ :prompt => "Not Sure"}) %>
  </div>
        <div class="field">
    <%= f.label :casita, "Plan has a Casita" %>
    <%= f.select(:casita, [['Yes', 'Yes']],{ :prompt => "Not Sure"}) %>
    </div>
</div>
<div id="row-four" class="col-md-3">
  <div class="control-group">
     <%= f.label :drawing_1, "Upload Primary Plan PDF", :class => 'control-label' %>
<%= f.file_field :drawing_1 %>
  </div>
  <div class="control-group">
     <%= f.label :drawing_2, "Upload SecondaryPlan PDF (optional)", :class => 'control-label' %>
<%= f.file_field :drawing_2 %>
  </div>
  <div class="control-group">
     <%= f.label :elevation, "Upload Elevation PDF", :class => 'control-label' %>
<%= f.file_field :elevation %>
  </div>
    <div class="control-group">
     <%= f.label :broshure, "Upload Broshure PDF", :class => 'control-label' %>
<%= f.file_field :broshure %>
  </div>
  <div class="control-group">
    <%= f.label :image, "Image" %><br>

<%= f.file_field :image %>

  </div>
  <div class="field">
    <%= f.label :image2, "Image 2" %><br>
<% if f.object.new_record? | @plan.image2.blank? %>
<%= f.file_field :image2 %>
<% else %>
<%= f.file_field :image2 %>
      <%= link_to File.basename(f.object.image2.url), f.object.image2.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image3, "Image 3" %><br>
<% if f.object.new_record? | @plan.image3.blank? %>
<%= f.file_field :image3 %>
<% else %>
<%= f.file_field :image3 %>
      <%= link_to File.basename(f.object.image3.url), f.object.image3.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image4, "Image 4" %><br>
<% if f.object.new_record? | @plan.image4.blank? %>
<%= f.file_field :image4 %>
<% else %>
<%= f.file_field :image4 %>
      <%= link_to File.basename(f.object.image4.url), f.object.image4.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image5, "Image 5" %><br>
<% if f.object.new_record? | @plan.image5.blank? %>
<%= f.file_field :image5 %>
<% else %>
<%= f.file_field :image5 %>
      <%= link_to File.basename(f.object.image5.url), f.object.image5.url %>
        <% end %>
  </div>

  <div class="field">
    <%= f.label :image6, "Image 6" %><br>
<% if f.object.new_record? | @plan.image6.blank? %>
<%= f.file_field :image6 %>
<% else %>
<%= f.file_field :image6 %>
      <%= link_to File.basename(f.object.image6.url), f.object.image6.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image7, "Image 7" %><br>
<% if f.object.new_record? | @plan.image7.blank? %>
<%= f.file_field :image8 %>
<% else %>
<%= f.file_field :image8 %>
      <%= link_to File.basename(f.object.image7.url), f.object.image7.url %>
        <% end %>
  </div>
    <div class="field">
    <%= f.label :image7, "Image 8" %><br>
<% if f.object.new_record? | @plan.image8.blank? %>
<%= f.file_field :image7 %>
<% else %>
<%= f.file_field :image7 %>
      <%= link_to File.basename(f.object.image7.url), f.object.image7.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image9, "Image 9" %><br>
<% if f.object.new_record? | @plan.image9.blank? %>
<%= f.file_field :image9 %>
<% else %>
<%= f.file_field :image9 %>
      <%= link_to File.basename(f.object.image9.url), f.object.image9.url %>
        <% end %>
  </div>
    <div class="field">
    <%= f.label :image10, "Image 10" %><br>
<% if f.object.new_record? | @plan.image10.blank? %>
<%= f.file_field :image10 %>
<% else %>
<%= f.file_field :image10 %>
      <%= link_to File.basename(f.object.image10.url), f.object.image10.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image11, "Image 11" %><br>
<% if f.object.new_record? | @plan.image11.blank? %>
<%= f.file_field :image11 %>
<% else %>
<%= f.file_field :image11 %>
      <%= link_to File.basename(f.object.image11.url), f.object.image11.url %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :image12, "Image 12" %><br>
<% if f.object.new_record? | @plan.image12.blank? %>
<%= f.file_field :image12 %>
<% else %>
<%= f.file_field :image12 %>
      <%= link_to File.basename(f.object.image12.url), f.object.image12.url %>
        <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
</div>
</div>
<% end %>

